@font-face {
    font-family: 'Roboto';
    src: url(/assets/Roboto-Regular.ttf);
}

body {
    font-family: 'Roboto';

}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {}

.header__container {}

.header__inner {}

.header__nav {}

.nav {}

.logo {
    width: 150px;
    height: 60px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav__item {}

.header__item {
    text-decoration: none;
    color: black;
}

.main {}

.container {}

.main-page {}

.main-page__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-page__banner-container {
    position: relative;
}

.main-page__banner-content {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    font-size: calc(14px + 16 * (100vw/1280));

    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-page__banner-content p {}

.main-page__characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-page__char {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 20%;
    background: #5C4A3C;
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 97, 253, 1) 100%); */
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-top: 20px;
}

.main-page__char__img {
    width: 90%;
    height: 100%;
}

.main-page__products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-page__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    background: #5C4A3C;
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 97, 253, 1) 100%); */
    border-radius: 5px;
    padding-top: 20px;
    margin-right: 10px;

}

.main-page__product__img {
    width: 80%;
    height: 70%;
    margin-bottom: 20px;
}

.main-page__product__category {}

.characters-page {}

.products-page {
    background: url(/assets/img/luffy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1005;
}

.login-page {}

.register-page {}

.personal-account-page {}

.admin-page {}

.products__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 30%;
    align-items: center;
    font-size: calc(14px + 10 * (100vw/1280));

    margin-right: 10px;
    background: #5C4A3C;
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 97, 253, 1) 100%); */

    border-radius: 15px;
    padding-bottom: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product__img {
    width: 90%;
    height: 70%;
    margin-bottom: 10px;
}

.product__name {
    margin-bottom: 10px;

}

.product__info-text {
    margin-bottom: 10px;

}

.product__price {}

.buy-btn {
    width: 90%;
    font-size: calc(10px + 10 * (100vw/1280));
    /* border: 1px solid black; */
    border: none;
    background-color: #78938A;
    border-radius: 10px;
    padding: 10px 20px;
}

.buy-btn:focus {
    background-color: #A2B38B;
    color: white;

}

.cart {
    /* position: relative; */
}

.cart__btn {}

.cart__list {
    position: absolute;
    top: 20%;
    left: 34%;
    display: flex;
    flex-direction: column;
    background-color: #C48967;
    border-radius: 5px;
    padding: 30px;

    width: 60%;
}

.cart__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #5C4A3C;
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(45, 97, 253, 1) 100%); */
    border-radius: 5px;
    padding: 5px;
}

.cart__img {
    width: 10%;
    height: 10%;
}

.cart__item__name {}

.cart__item__price {}

.cart__remove-btn {}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #FFFFFF;
    color: black;
    max-width: 800px;
    padding: 70px 80px;
    position: relative;

}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popup__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.popup__form {
    display: flex;
    flex-direction: column;
    color: black;
}

.popup__container {

    display: flex;
    flex-direction: column;
    flex: 1 1 33%;


}

.popup__container .form__label {
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.popup__container .form__username {
    min-height: 50px;
    align-self: stretch;
    text-indent: 17px;
    background-image: url('images/icons/Profile.svg');
    background-repeat: no-repeat;
    background-position: 94%;
    font-family: 'Roboto';
    border: 1px solid #E0E0E0;
}

.popup__container .form__telephone {
    text-indent: 17px;
    min-height: 50px;
    align-self: stretch;
    background-image: url('images/Calling.svg');
    background-repeat: no-repeat;
    background-position: 94%;
    font-family: 'Roboto';
    border: 1px solid #E0E0E0;
}

.popup__container .form__button--for-send {
    align-self: stretch;
    min-height: 50px;
    margin-top: 21px;
    background-color: #78938A;
    font-family: 'Roboto';
    color: white;
    border: none;
}

.popup__container .form__container-last {
    margin-top: 27px;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__container .form__personal-data {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A4A4A4;
}

/* character page */
.banner3__link {
    margin-right: 10px;
}

.links__delimeter {
    margin-right: 10px;
}


.heading {
    font-size: calc(14px + 22 * (100vw/1240));
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
}

.sub-heading {
    font-size: calc(12px + 12 * (100vw/1240));
    text-align: center;
    font-family: 'Playfair Display';
}

.text {
    font-family: 'Roboto';
}

.group__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.group__data-list {
    width: 100%;
    margin: 0 auto;
    align-self: center;
    background: inherit;
    color: black;
    border: none;
    text-align: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */


    /* #FFFFFF */

    color: #FFFFFF;
}

.group__data-list:focus {
    background: inherit;
    color: #FFFFFF;

    border: none;
    text-align: center;
    outline: none;
}

.group__data-list option {
    color: black;
    padding: 20px;
}

.group__data-option {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
}

#first-option {
    padding-top: 20px;
}

#last-option {
    padding-bottom: 20px;
}

.group__element_text {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    /* identical to box height, or 178% */

    text-align: center;

    /* #FFFFFF */

    color: #FFFFFF;
}

.group__element_sub-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;

    /* #FFFFFF */
    margin-top: 10px;
    color: #FFFFFF;
}

.group__element_image {
    margin-bottom: 20px;
}

.group__element {
    flex: 0 1 20%;
    background-color: #008795;
    margin-right: 10px;
    list-style: none;
    padding: 50px 0px;

}

.group__element_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

@media (max-width: 767px) {

    .heading {
        font-size: calc(14px + (22 + 22 * 0.7) * ((100vw - 320px)/1240));
    }

    .sub-heading {
        font-size: calc(12px + (12 + 12 * 0.7) * ((100vw - 320px)/1240));
    }
}

.blue {
    color: #00C4D9;
}

.header__social {

    display: flex;
    justify-content: space-between;
    margin-right: -10px;
}

.header__social-link {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.menu__list {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__container {
    display: flex;
    align-items: center;

}

.navbar__a-arrow-img {
    margin-left: 5px;
}

/* header a */
.menu__box .menu__list-item {
    font-size: calc(8px + (7 + 7 * 0.7) * ((100vw - 992px)/1240));
    margin: 0px;
    color: inherit;
    position: relative;

}


.menu__list-item {
    font-size: calc(8px + (7 + 7 * 0.7) * ((100vw - 992px)/1240));
    margin: 10px;
    color: inherit;
    position: relative;

}

.sub-menu__list {
    min-width: 291px;
    list-style: none;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 20px 0px 0px 0px;

    display: none;
}

.sub-menu__list-item-first {
    padding-top: 30px;
}

.sub-menu__list>li {
    background-color: white;

}

.menu-list__a-hover:hover .sub-menu__list {
    display: block;

}


.sub-menu__list-item {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

.sub-menu__list-item a {
    text-decoration: none;
    color: black;
}

.sub-menu__link {}

.menu__list-item {}


.navbar__a-arrow-img {
    width: 10px;

    align-self: center;
}



.hamburger-menu {
    position: absolute;
    z-index: 1000;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;


    background-color: #00C4D9;
    z-index: 1000;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: black;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}


@media screen and (max-width: 992px) {
    .header__container {
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__header {
        display: none;
        margin: 0 auto;
    }

    .header__logo a {
        align-self: center;
        margin: 0 auto;
    }

    .header__social-link {
        display: none;
    }

    .navbar {
        display: none;
    }

    .contact {
        display: none;
    }

    .header__social {
        display: none;
    }


}

@media screen and (min-width: 992px) {
    .hamburger-menu {
        display: none;
    }
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.contact__container_2 {
    display: flex;
    flex-direction: row;
}

.contact__img {
    width: 24px;
    height: 24px;
}

.contact__number {
    margin-left: 10px;
    color: inherit;

}

.contact__link {
    color: #00C4D9;
    margin-left: auto;
}


.menu__box .sub-menu__list {
    z-index: 1001;
}

.banner3 {
    z-index: -1;
    position: relative;
    color: white;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner3__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner3__links {
    display: flex;
    flex-direction: row;
}

.banner3__link {
    font-size: calc();
}


@media (max-width: 1200px) {
    .banner3__link {
        font-size: calc(10px + (6 + 6 * 0.7) * ((100vw - 320px)/1240));
    }

}

.banner3__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 100px;
}


.main__form-for-queistion {
    margin-top: 100px;
    padding-top: 100px;
    background: url('images/photoform--bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.heading--form {
    color: white;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 65%;
    margin: 0 auto;
    padding-bottom: 136px;

}

.form__container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;


}

.form__label {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.form__username {
    min-height: 50px;
    align-self: stretch;
    text-indent: 17px;
    background-image: url('images/icons/Profile.svg');
    background-repeat: no-repeat;
    background-position: 94%;
    font-family: 'Roboto';
}

.form__telephone {
    text-indent: 17px;
    min-height: 50px;
    align-self: stretch;
    background-image: url('images/Calling.svg');
    background-repeat: no-repeat;
    background-position: 94%;
    font-family: 'Roboto';
}

.form__button--for-send {
    align-self: stretch;
    min-height: 55px;
    margin-top: 51px;
    background-color: #008795;
    font-family: 'Roboto';
}


.form__container-last {}

.form__personal-data {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A4A4A4;
}

.social__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social__button {
    border: none;
    flex: 0 0 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 15px;

    /* identical to box height, or 129% */

    text-align: center;

    color: #FFFFFF;
}

.vk {
    background: #00C4D9;

}

.social__button img {
    margin-right: 10px;
}

.inst {
    background: #008795;


}

.tab {
    /* z-index: -2; */
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: black;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 0 0 0 1em; */
    padding-right: 20px;
    background: white;
    font-weight: bold;
    line-height: 5;
    cursor: pointer;
    justify-content: space-between;

}

.blue label {
    background: white;

}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: white;
    /* */
    /*  */
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.tab-four-firsthalf {}

.tab-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
}

.tab-content-container img {
    width: 200px;
    height: 350px;
}

.blue .tab-content {
    background: #5C4A3C;
}

.tab-content p {
    margin: 1em;
}

.tab input:checked~.tab-content {
    max-height: 100vh;
}


.tab label::after {

    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=checkbox]+label::after {
    border: 1px solid black;

    display: flex;

    max-width: 30px;
    max-height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    content: "+";

}



.tab input[type=checkbox]:checked+label::after {
    content: "-";

}



.tabset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}

.tab__text {
    max-width: 1028px;
    margin: 0 auto;
}



.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tab-panels {
    width: 100%;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 90%;
    height: 2px;

}

.tabset>label:hover,
.tabset>input:focus+label {
    color: #008795;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #008795;
}

.tabset>input:checked+label {

    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}






.tab-four-firsthalf {
    background-color: #5C4A3C;
    padding: 40px;
    font-size: 20px;

}

.tab-four-secondhalf {
    padding: 20px 40px;

}

.include__boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
}

.include__box {
    width: 50%;
    display: flex;
    flex-direction: column;


    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    padding: 50px;
}

.include__box__heading {
    font-size: calc(12px + 12 * (100vw/1240));
    ;
}

.include__box__text {
    margin-left: 20px;
    align-self: center;
}

.include__box__option {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.slider {
    position: relative;
    margin-top: 50px;
}


/* 
.swiper-button-prev::after {
    color: gray;
    position: absolute;
    top: 50%;

}

.swiper-button-next {
    color: gray;
    position: absolute;
    top: 50%;

} */

.swiper-slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 10rem;
    background-color: #414141;
    min-height: 400px;
}

.footer-container {

    color: white;


    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* align-self: center; */
}

.footer__logo {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.footer__sub-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.footer-contact__img {

    width: 24px;
    height: 24px;
}

.footer-contact__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}



.footer-container .block {
    margin-right: 5rem;
}

.block ul li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

.fourth-block__container {
    display: flex;
    flex-direction: column;

    height: 15%;

}

.fourth-block__row {
    display: flex;
    flex-direction: row;
}

.fourth-block__image {
    width: 50px;
    height: 50px;
    margin: 2px;
    background: red;

}

.second-block__item {
    color: white;
    text-decoration: none;
}

.second-block__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    color: #00C4D9;
}

.third-block__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #00C4D9;
}

.fourth-block__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #00C4D9;
}

@media (max-width: 1240px) {
    .container {
        max-width: 992px;
    }



    .footer-container .block {
        margin-right: 20px;
    }




}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .form {
        flex-wrap: wrap;
    }

    .footer-container .block {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .group__list {
        flex-wrap: wrap;
    }

    .include__boxes {
        flex-wrap: wrap;
    }

    .group__element {
        margin-bottom: 10px;
    }


    .tab-content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .form__button--for-send {
        align-self: stretch;
        min-height: 55px;
        margin-top: 61px;
        background-color: #008795;
        font-family: 'Roboto';
    }


    .footer-container {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        /* align-self: center; */
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .tab-content img {
        width: 50%;
    }

    .footer-container {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        /* align-self: center; */
    }



}

@media (max-width: 361px) {
    .tab-four-secondhalf {
        padding: 20px 3px;
    }


}

@media (max-width: 477px) {
    .tab-four-secondhalf {
        padding: 20px 3px;
    }

    .form {
        max-width: 100%;
    }

    .form__container {
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        flex: 1 1 33%;
    }

}

.scrollup {
    position: fixed;
    color: #fff;
    background-color: white;
    right: 20px;
    bottom: 0px;
    padding: 10px 10px;
    font-size: 20px;

    cursor: pointer;
    display: none;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1)
}

.scrollup__images {
    position: relative;
    display: flex;
    flex-direction: column;
}

.scrollup__second-img {
    position: absolute;
    top: 25%;
}

.scrollup:hover {
    background-color: lightgray;

}